.scoreboard {
  background-color: rgb(230, 224, 255);
  color: #000000;
  border-radius: 30px;
  border: solid black 2px;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Roboto", sans-serif;
}
h2,
h3,
h4 {
  font-family: "Monoton", cursive;
}
